.about_container{
    display:grid;
    grid-template-columns: 30% 53%;
    gap: 5%;
    position: center;
    justify-content: center;
    padding-top: 4%;
}
.about_me{
    width: 90%;
    height: 100%;
    border-radius: 1.7rem;
    background: linear-gradient(45deg, transparent,var(--color-gold),transparent);
    display:grid;
    place-items: center;

}

.about_me_img{
    border-radius: 1.7rem;
    width: 90%;
    overflow: hidden;
    transition: var(--transition);
    transform: rotate(10deg) ;
}
.about_me_img:hover{
    transition: var(--transition);
    transform: rotate(0deg) ;
}
.cards{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    position: relative;
    right: 1rem;
}
.card{
    background: var(--color-bg-variant);
    border: 1px solid var(--color-primary);
    border-radius: 1rem;
    padding: 2.5%;
    text-align: center;
    transition: var(--transition);
}
.card:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor:default;
}
.about_icon{
    color: var(--color-primary);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.card h5{
    font-size: 1.5rem;
}
.card small{
    font-size: 1rem;
    color: var(--color-light);
}

.about_content p{
    font-size: 1.3rem;
    line-height: 1.5rem;
    text-align: justify;
    margin: 3% 0 5%;
    color: var(--color-light);
    position: relative;
    right: 1%;
}
.btn-primary{
    position: relative;
    right: 1rem;
}

/* Med */
@media screen and (max-width: 1024px) {
    .about_container{
        grid-template-columns: 83%;
        gap: 0;
    }
    .about_me{
        width: 45%;
        height: 50%;
        margin: 2rem auto 4rem;
    }

}

/* Small */

@media screen and (max-width: 600px) {
    .about_me{
        width: 65%;
        height: 70%;
        margin: 0 auto;
    }
    .about_cards{
        grid-template-columns: 10%;
        gap: .5%;
    }
    .card h5{
        font-size: 1rem;
    }
    .card small{
        font-size: .8rem;
    }
    .about_content p{
        font-size: 1rem;
        line-height: 1.1rem;
        text-align: justify;
        margin: 1% 0 2%;
        color: var(--color-light);
        position: relative;
        right: 1%;
    }
    .btn-primary{
        visibility: hidden;
    }
    .about_container{
        padding-top: 9%;
        gap:0rem;
    }
}