.experience_tools{
    grid-area: c;
}
.experience_front{
    grid-area: a;
}
.experience_back{
    grid-area: b;
}

.experience_container{
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 40% 50%;
    grid-template-areas:
    "a  b"
    "c c";
    gap: 2rem;
    position: center;
    justify-content: center;
}

.experience_container > div{
    background: var(--color-bg-variant);
    padding: 1% 4% 3% 4%;
    border-radius: 2rem;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
}
.experience_container > div:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor:default;
}

.experience_container > div h3{
    text-align: center;
    margin-bottom:  2rem;
    color: var(--color-primary);
}
.experience_content{
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50%;
    row-gap: 1rem;
}
.experience_details{
    display: flex;
    gap: .5rem;
    text-align: left;
}
/* Med */
@media screen and (max-width: 1024px) {
    .experience_container{
        grid-template-columns: 52% 52%;
        grid-template-rows: 50% 50%;
        gap: 1rem;
    }
    .experience_content{
        grid-template-columns: 1fr 1fr;
        column-gap: 30%;
        row-gap: 1rem;
    }

}
/* Small */

@media screen and (max-width: 700px) {
    .experience_container{
        grid-template-columns: 1fr;
        grid-template-rows: 30%;
        grid-template-areas:
        "a"
        "b"
        "c";
    }
    .experience_content{
        grid-template-columns: 1fr 1fr;
        column-gap: 20%;
        row-gap: .05rem;
    }
    .experience_container > div h3{
        margin-bottom:  0rem;
    }
}