
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
:root {
    --color-bg: #00001a;
    --color-bg-variant: #000033;
    --color-primary: #00ccff;
    --color-primary-variant: hex2rgba(#0081a1, 0.4);
    --color-white: #ffffff;
    --color-light: hex2rgba(#cacaca, 0.6);
    --color-gold: rgb(212, 156, 0);

    --transition: all 0.3s ease; 

    ---container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
}
html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
    display: none;
}
body {
    font-family: 'Inconsolata', monospace;
    background: var(--color-bg);
    color: var(--color-white);
    line-height: 1.7;
    background-image: url(../src/assets/Texture.png);
    background-image: url(../src/assets/Texture.png),
    linear-gradient(75deg, #070031cc, rgba(255,0,0,0) 70.71%),
    linear-gradient(220deg, rgba(0, 139, 173, 0.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(360deg, rgba(136, 102, 11, 0.8), rgba(113, 113, 255, 0) 70.71%);
    background-size: contain;
}

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}
h1,h2,h3,h4,h5{
    font-weight: 500;
    color: var(--color-primary);
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.5rem;
}
h5 {
    font-size: 1.5rem;
}

section {
    margin-top: 8rem;
    height: 100vh;
}
section > h2,
section > h5{
    text-align: center;
    color: var(--color-light);

}
section > h2 {
    color: var(--color-primary);
    margin-bottom: 3rem;
}

.text-light {
    color: var(--color-light);
}

a {
    color: var(--color-primary);
    transition: var(--transition);
}
a:hover {
    color: var(--color-white);
}
.btn {
    width: max-content+5px;
    display: inline-block;
    color:  var(--color-primary);
    padding: 0.5rem;
    cursor: pointer;
    border: 5px solid var(--color-primary);
    border-style: inset;
    transition:  var(--transition);
}

.btn:hover {
    color: var(--color-bg);
    background: var(--color-primary);
}
img {
    display: block;
    width: 100%;
    object-fit: cover;
}



@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-md);
    }
    section > h2 {
        margin-top: 6rem;
    }
    section {
        height: auto+8rem;
    }
    header {
        height: 100vh;
    }
}

/* Small */

@media screen and (max-width: 700px) {
    section {
        height: auto;
    }
    header {
        height: 100vh;
    }
}